body{
    background-image: url('https://bnetcmsus-a.akamaihd.net/cms/gallery/YWHEBU7YPF2E1509559682782.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.middleScreen{
    margin-top: 20%;
    background-color: white;
    color:black;

    
}
